.projects{
    display: flex;

    
}


.card{
    border: 2px solid black;
    width: 30vw;
    height: 70vh;
    text-align: center;
    border-radius: 75px;
    
   
}
.card p{
    padding: 0 70px 20px 70px;
    
}

.card img{
    border: 2px solid black;
    border-radius: 50px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    button{
        cursor: pointer;
        width: 100px;
        height: 50px;
        border-radius: 75px;
        border: none;
        background-color: black;
     
    };
    button a{
        color: white;
        font-size: 17px
    };
}